@font-face {
    font-family: jf;
    src: url('font/jf.woff')
}

body {
    margin: 0px;
    width: 100%;
    height: 800px;
    background-color: #faffff;
}

#static {
    margin: 0 auto;
}

header {
    width: 100%;
    height: 85px;
    text-align: center;
    background-color: #293241;
}

header img {
    width: 110px;
    display: inline-block;
    margin-top: 12px;
    padding: 0px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
}

header img:hover {
    width: 120px;
}

nav {
    height: 45px;
    background-color: #293241;
    text-align: center;
}

nav button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-family: jf;
    color: white;
    padding: 7px 30px;
    text-decoration: none;
}

nav button:hover {
    color: #293241;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #D1D8EC;
    -webkit-box-shadow: 1px 1px 10px #bcc2d4, -1px -1px 10px #e6eeff;
    box-shadow: 1px 1px 5px #bcc2d4, -1px -1px 5px #e6eeff;
}

#all {
    width: 60%;
    margin: 0 auto;
    font-family: jf;
    height: 553px;
}

#title {
    text-align: center;
}

#picture {
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
    -webkit-animation: fadeInbottom 1s both;
    -moz-animation: fadeInbottom 1s both;
    -o-animation: fadeInbottom 1s both;
    animation: fadeInbottom 1s both;
}

#picture:hover {
    width: 320px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
}

#allcon {
    margin-left: 19%;
}

#content {
    font-size: 20px;
    display: inline-block;
    vertical-align: 90px;
    margin-left: 35px;
    -webkit-animation: fadeInbottom 1s both 2s 0.5;
    -moz-animation: fadeInbottom 1s both 0.5;
    -o-animation: fadeInbottom 1s both 0.5;
    animation: fadeInbottom 1s both 0.5s;
}

footer {
    width: 100%;
    height: 89px;
    font-family: jf;
    color: white;
    background-color: #293241;
}

#copyright {
    padding: 30px 0;
    text-align: center;
}

@-webkit-keyframes fadeInbottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInbottom {
    0% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInbottom {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInbottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}