@font-face {
    font-family: jf;
    src: url('font/jf.woff')
}

body {
    margin: 0px;
    width: 100%;
    background-color: #faffff;
}

#static {
    margin: 0 auto;
}

header {
    width: 100%;
    height: 85px;
    text-align: center;
    background-color: #293241;
}

header img {
    width: 110px;
    display: inline-block;
    margin-top: 12px;
    padding: 0px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
}

header img:hover {
    width: 120px;
}

nav {
    height: 45px;
    background-color: #293241;
    text-align: center;
}

nav button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-family: jf;
    color: white;
    padding: 7px 30px;
    text-decoration: none;
}

nav button:hover {
    color: #293241;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #D1D8EC;
    -webkit-box-shadow: 1px 1px 10px #bcc2d4, -1px -1px 10px #e6eeff;
    box-shadow: 1px 1px 5px #bcc2d4, -1px -1px 5px #e6eeff;
}

#all {
    height: 47vh;
}

#icon {
    margin-top: 200px;
    text-align: center;
}

#fb {
    width: 80px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
    margin-right: 60px;
    -webkit-animation: fadeInbottom 1s both 0.2s;
    -moz-animation: fadeInbottom 1s both 0.2s;
    -o-animation: fadeInbottom 1s both 0.2s;
    animation: fadeInbottom 1s both 0.2s;
}

#fb:hover {
    width: 90px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
}

#ig {
    width: 80px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
    margin-right: 60px;
    -webkit-animation: fadeInbottom 1s both 0.4s;
    -moz-animation: fadeInbottom 1s both 0.4s;
    -o-animation: fadeInbottom 1s both 0.4s;
    animation: fadeInbottom 1s both 0.4s;
}

#ig:hover {
    width: 90px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
}

#line {
    width: 80px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
    margin-right: 60px;
    -webkit-animation: fadeInbottom 1s both 0.6s;
    -moz-animation: fadeInbottom 1s both 0.6s;
    -o-animation: fadeInbottom 1s both 0.6s;
    animation: fadeInbottom 1s both 0.6s;
}

#line:hover {
    width: 90px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
}

#yt {
    width: 80px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
    -webkit-animation: fadeInbottom 1s both 0.8s;
    -moz-animation: fadeInbottom 1s both 0.8s;
    -o-animation: fadeInbottom 1s both 0.8s;
    animation: fadeInbottom 1s both 0.8s;
}

#yt:hover {
    width: 90px;
    transition: width 0.3s;
    transition-timing-function: cubic-bezier(0.1, 1.0);
}

footer {
    width: 100%;
    height: 89px;
    font-family: jf;
    color: white;
    background-color: #293241;
}

#copyright {
    padding: 30px 0;
    text-align: center;
}

@-webkit-keyframes fadeInbottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInbottom {
    0% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInbottom {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInbottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}